$font:Inter, Helvetica, Arial, sans-serif;
$main-color:#A6A6A6;
$maxWh:550px;

.section-text {
  font-family:$font;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $main-color;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 222px;
  }
}

@media screen and (max-width: $maxWh) {
  .section-text {
    font-size: 12px;
    line-height: 16px;
  }
}
