$maxWh:550px;
$main-color:#A6A6A6;
$fMain:sans-serif, Euclid Circular B;
$hoverC:#881EFF;


.option-box {
  //styleName: Footnote;
  font-family: $fMain;
  font-size: 12px;
  line-height: 61px;
  font-weight: normal;
  color: $main-color;
  margin-bottom: 40px;
}
.checkbox {
  background-color: $main-color;
}
.checkmark {
  margin-left: 10px;
  position: relative;
  bottom:1px
}

