$font-stack:Inter, Helvetica, Arial, sans-serif;
.app {
  position: relative;
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  background-image: url('./header-photo.png');
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
 .page {
  margin: 0 auto;
  max-width: 1440px;
   &__container {
     padding-top: 110px;
     background-color: #fff;
     border-radius: 8px;
     position: relative;
     z-index: 2;
     margin-right: 10px;
     margin-left: 10px;
   }
}

