.special-word {
  font-family: sans-serif, Euclid Circular B;
  font-size: 85px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  color: #5d09bb;
  margin-top: 0;
}
