$maxWh:550px;
$main-color:#A6A6A6;

.section-title {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 61px;
  font-weight: normal;
  color: $main-color;
  margin-bottom: 40px;
}

.section-title:first-child {
  margin-top: 40px;
}

@media screen and (max-width: $maxWh) {
  .section-title {
    font-size: 32px;
    line-height: 39px;
  }
}
